

.feeContainer{
    background-color: #f8f8f8;
    display: block;
    
}
.feeButton{
    float: right;
    margin-top: 20px;
    margin-right: 70px;
    margin-bottom: 20px;
    
}

.feeReportContainer{
 display: flex;

 
  width: 100%;
  /* border: 2px solid red; */
  
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.totalMoney{
    height: 150px;
    width: 150px;
    display: block;
    
    background-color: #5b5f97;
    color: #fff;
    /* margin-top: 30px; */
    
    margin-left: 100px;
    border-radius: 10px;
}
.totalMoney .tit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.totalMoney .tit p
{
 font-size: 18px;
 font-weight: 600;
}
.totalMoney  .amount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.totalMoney  .amount p{
 font-size: 25px;
 font-weight: 700;
}
.totalStudent .tit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.totalStudent .tit p{
    font-size: 18px;
    font-weight: 600;
}
.totalStudent .amount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.totalStudent .amount p{
    font-size: 25px;
    font-weight: 700;
}

.totalStudent{
    height: 150px;
    width: 150px;
    display: block;
    background-color: #5b5f97;
    color: #fff;
    /* margin-top: 30px; */
    
    margin-left: 100px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.stat{
    display: flex;
   background-color: #f8f8f8;
   padding: 10px;
}

.reportAction{
    background-color: #fff;
    
}
.reportActionTitle{
    
    margin-left: 300px;
    margin-top: 30px;
}
.reportActionTitle p{
    font-size: 22px;
    font-weight: 600;
    opacity: 0.5;
}
.reportFilter Form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reportTables{
   
    background-color: #fff;
}
.tableCont{
    padding-top: 30px;
    background-color: #fff;
}


.feeContainer .ant-input{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    /* height: 10px; */
    /* padding: 30px 10px !important; */
    border: 2px solid #5b5f97 !important;
    /* color: #3a3c5a; */
    
    
} 

.tableCont .ant-table-thead .ant-table-cell {
    background-color: #5b5f97;
    color: #fff;
    font-size: 20px;
  }
  .tableCont .ant-table-thead .ant-table-cell {
    background-color: #5b5f97;
    color: #fff;
    font-size: 20px;
  }
  .tableCont .ant-table-row {
    font-size: 20px;
    height: 64px;
    color: #5b5f97;
  }
  .ant-input{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    /* height: 10px; */
    /* padding: 30px 10px !important; */
    border: 2px solid #5b5f97 !important;
    /* color: #3a3c5a; */
    
    
}





