.dropDownProfile{
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    width: 150px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid grey;
    z-index: 100;
    /* z-index: 10000; */
}


.dropDownProfile ul li{
 list-style-type: none;



}
.dropDownProfile ul li:hover{
 cursor: pointer;
 color: #fd00f1;
 
}

.dropDownProfile::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 2em;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #fff;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}


.profileCont{
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}


.profileCard{
    position: relative;
    width: 400px;
    height: 240px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.115);
    transition: 0.5s;
    
}
.profileCard:hover{
    height: 450px;
}
.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);

    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.15);
    overflow: hidden;

}
.profileCard:hover .imgBx{
    width: 200px;
    height: 200px; 
}
.imgBx img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.profileCard .profileContent{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}
.profileCard .profileContent .profileDetails{
    padding: 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    margin-left: 10px;
}
.profileCard .profileContent .profileDetails h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
.profileCard .profileContent .profileDetails h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
/* .editProfileBtn{
    margin-left: -100px;
} */
.hideInfo{
    display: none;
}
.profileCard:hover .hideInfo{
    display: block;
}
.editProfileBtn{
    margin-bottom: 70px;
    padding: 0 50px;
    background-color: #5b5f97;
}




/* EDIT PROFILE STYLING */



.editProfileTitle h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.editProfileTitle p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    opacity: 0.5;
    font-size: 20px;
}
  
  .profile-pic {
    color: transparent;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease;
  }
    input {
      display: none;
    }
    
    img {
      position: absolute;
      object-fit: cover;
      width: 165px;
      height: 165px;
      box-shadow: 0 0 10px 0 rgba(255,255,255,.35);
      border-radius: 100px;
      z-index: 0;
    }
    
    .-label {
      cursor: pointer;
      height: 165px;
      width: 165px;
    }
    
   .profile-pic:hover 
      .-label {
        display: flex;
         justify-content: center;
         align-items: center;
        background-color: rgba(0,0,0,.8);
        z-index: 10000;
        color: rgb(250,250,250);
        transition: background-color .2s ease-in-out;
        border-radius: 100px;
        margin-bottom: 0;
      }
    
    
    span {
      display: inline-flex;
      padding: .2em;
      height: 2em;
    }
.editProfileForm .ant-input{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    /* height: 10px; */
    /* padding: 30px 10px !important; */
    border: 2px solid #5b5f97 !important;
    /* color: #3a3c5a; */
    
    
}
.changePwdModal .ant-input{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    /* height: 10px; */
    /* padding: 30px 10px !important; */
    border: 2px solid #5b5f97 !important;
    /* color: #3a3c5a; */
    
    
}
