

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 25px;
}

.sidebarContainer{
    height: 100vh;
    
    
}
.trigger{
    margin-top: -10px;
    margin-left: 15px;
    font-size: 22px;
}

.headerCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileContainer{
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.avatar:hover{
    cursor: pointer;
}
