


.coursesection{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 78vh;
    margin-top: 20px;
    background: rgb(24,83,128);
    background: linear-gradient(90deg, rgba(24,83,128,1) 0%, rgba(7,66,157,1) 16%, rgba(0,212,255,1) 100%); 
}

.addcourseSection{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 100;
}

.courseInfo{
    position: absolute;
    top: 140px;
    width: 450px;
    margin-left: 150px;
    height: calc(100% - 80px);
    /* background: #0f3959; */
    background-color: #3339cd;
    /* background-color: #fff; */
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2); */
}
.courseAction{
    /* display: flex;
    justify-content: center;
    align-items: center;    
    position: relative; */
     /* margin: 60px 0;    */
     position: relative;
     display: block;
     margin: auto 0;
    
}
.courseForm{
    position: absolute;
    padding: 70px 200px;
    background: #fff;
    margin-top: 100px;
    margin-left: 450px;
    width: calc(100% - 750px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.courseInfo h2{
    position: relative;
    margin: 0 auto;
    
    display: block;
    
    color: #fff;
    font-size: 35px;
    font-weight: 800;

}
.courseInfo h2::after{
    

    content: '';
    height: 7px;
    width: 100px;
    background-color: rgb(210, 0, 252);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}




[title="Semister"] {
    color: #fff !important;
  }

  [title="Class/year"] {
    color: #fff !important;
  }

  [title="type of form"] {
    color: #fff !important;
    
  }

  [title="no_of Form"] {
    color: #fff !important;
    
  }

  
  